html,
body {
    margin: 0;
    padding: 5px;
    background-color: rgb(72, 137, 137);
}

.main {
    height: 100%;
    text-align: center;
}

.main-badge-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main h1 {
    margin: 0;
    padding: 20px;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2vh;
}

.main-badge-container h2 {
    margin: 0 0 0 20px;
}

.square {
    background-color: lightblue;
    border-radius: 5px;
}

.square h2,
.pill h2 {
    text-align: start;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.pill {
    background-color: bisque;
    border-radius: 5px;
}

.square-badge-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.pill-badge-div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 20px;
}

.square-badge-div button {
    transition: 2.5s ease-in-out;
    padding: 5px 10px;
    background-color: #E5E7EB;
    color: #4B5563;
    border: 2px solid;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    max-width: 80px;
}

.square-badge-div button.button-sm {
    padding: 7px 11px;
    font-size: 12px;
}

.square-badge-div button.button-lg {
    padding: 30px 40px;
}

.square-badge-div button.button-red {
    color: #991B1B;
    background-color: #FEE2E2;
    border-color: #991B1B;
}

.square-badge-div button.button-yellow {
    color: #92400E;
    background-color: #FEF3C7;
    border-color: #92400E;
}

.square-badge-div button.button-green {
    color: #065F46;
    background-color: #D1FAE5;
    border-color: #065F46;
}

.square-badge-div button.button-blue {
    color: #1E40AF;
    background-color: #DBEAFE;
    border-color: #1E40AF;
}

.square-badge-div button.button-indigo {
    color: #3730A3;
    background-color: #E0E7FF;
    border-color: #3730A3;
}

.square-badge-div button.button-purple {
    color: #5B21B6;
    background-color: #EDE9FE;
    border-color: #5B21B6;
}

.square-badge-div button.button-pink {
    color: #ba2c64;
    background-color: #FCE7F3;
    border-color: #9b3860;
}

.pill-badge-div button {
    border-radius: 20px;
    transition: 2.5s ease-in-out;
    padding: 5px 10px;
    background-color: #E5E7EB;
    color: #4B5563;
    border: 2px solid;
    cursor: pointer;
    font-weight: 700;
    display: flex;
    align-items: center;
    max-width: 80px;
}

.pill-badge-div button.button-sm {
    padding: 7px 11px;
    font-size: 12px;
}

.pill-badge-div button.button-lg {
    padding: 30px 40px;
}

.pill-badge-div button.button-red {
    color: #991B1B;
    background-color: #FEE2E2;
    border-color: #991B1B;
}

.pill-badge-div button.button-yellow {
    color: #92400E;
    background-color: #FEF3C7;
    border-color: #92400E;
}

.pill-badge-div button.button-green {
    color: #065F46;
    background-color: #D1FAE5;
    border-color: #065F46;
}

.green {
    color: #065F46;
    background-color: #D1FAE5;
    border-color: #065F46;
}

.yellow {
    color: #92400E;
    background-color: #FEF3C7;
    border-color: #92400E;
}

.red {
    color: #991B1B;
    background-color: #a80a0a;
    border-color: #991B1B;
}

.blue {
    color: #1E40AF;
    background-color: #DBEAFE;
    border-color: #1E40AF;
}

.indigo {
    background-color: #3F75FE;
}

.pill-badge-div button.button-blue {
    color: #1E40AF;
    background-color: #DBEAFE;
    border-color: #1E40AF;
}

.pill-badge-div button.button-indigo {
    color: #3730A3;
    background-color: #E0E7FF;
    border-color: #3730A3;
}

.pill-badge-div button.button-purple {
    color: #5B21B6;
    background-color: #EDE9FE;
    border-color: #5B21B6;
}

.pill-badge-div button.button-pink {
    color: #ba2c64;
    background-color: #FCE7F3;
    border-color: #9b3860;
}

/* The banner section starts here */

.main-container {
    background-color: #5a21b6a9;
    border-radius: 5px;
}

.main {
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 5px;
    gap: 15px;
    border: 2px solid;
    border-radius: 10px;
}

.banner-details {
    display: flex;
    gap: 3px;
    flex-direction: column;
    align-items: flex-start;
}

.img-container img {
    width: 17px;
    margin-top: 1px;
}

.banner-details p {
    text-align: left;
    font-size: 15px;
}

.banner-details h4,
p {
    margin: 0;
}

.bannerH1,
.badgesH1,
.cardH1,
.testimonialsH1 {
    text-align: center;
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

.bannerH1 {
    margin-bottom: 0;
}

.bannerH1-h3,
.testimonialsH1-h3 {
    text-align: center;
    margin: 0;
}

.banner-container-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.banner-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-container-container {
    background-color: lightcyan;
    padding: 5px;
    border-radius: 5px;
}

.card-container {
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    padding: 40px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    border: 1px solid;
    position: relative;
    max-width: 320px;
}

.card-container:hover {
    background-color: lightgray;
    cursor: pointer;
}

.image-container {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    border-radius: 5px;
}

.card-details {
    text-align: center;
    z-index: 1;
}

.image {
    width: 30px;
    border-radius: 4px;
    padding: 7px 7px;
}

.testimonials-container-container {
    max-width: 1000px;
    margin: 10px auto 0;
    background-color: lightskyblue;
    padding: 10px 10px 30px 10px;
    border-radius: 5px;
    position: relative;
}

.main-testimonial-container {
    background-color: #2545B8;
    margin: 100px auto 20px;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
}

.main-testimonial-container-nopic {
    background-color: #ffffff;
    margin: 100px auto 20px;
    padding: 10px 10px 0 10px;
    border-radius: 5px;
    max-width: 300px;
}

.testimonials {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: whitesmoke;
    position: relative;
    top: -70px;
    display: flex;
    flex-direction: column;
}

.testi-details {
    display: flex;
    flex-direction: column;
}

.testimonials-nopic {
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    
}

.testimonials-text {
    font-size: 19px;
    line-height: 25px;
    width: 95%;
    color: rgb(255, 255, 255);
}

.testimonials-text-nopic {
    font-size: 19px;
    line-height: 25px;
    width: 95%;
    color: rgb(0, 0, 0);
    font-weight: 500;
}

.TI {
    width: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.my-image {
    width: 100%;
    max-width: 17.5rem;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
}


.testinopic {
    width: 140px;
    border-radius: 10px;
    margin: 50px auto 20px;
}

.signature {
    position: relative;
    top: 20px;
    color: rgb(255, 255, 255);
}

.signature-nopic {
    position: relative;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: start;
    background-image: url("./public/Pattern.png");
    background-size: 140%;
    width: 150px;
    height: 100px;
    margin-top: 20px;
    padding-top: 20px;
}

.signature h4 {
    margin: 0;
    font-size: 14px;
}

.signature-nopic h4 {
    margin: 0;
    font-size: 14px;
}

.signature p {
    font-size: 13px;
}

.signature-nopic p {
    font-size: 13px;
}

@media screen and (min-width: 426px) {
    .square-badge-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
    }

    .pill-badge-div {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 20px;
    }

    .card-container-container {
        background-color: lightcyan;
        padding: 5px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .testimonials-container-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 555px) {
    .square-badge-div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        padding: 20px;
    }

    .pill-badge-div {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 10px;
        padding: 20px;
    }
}

@media screen and (min-width: 595px) {

    .banner-container-container,
    .banner-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media screen and (min-width: 605px) {
    .testimonials-container-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}

@media screen and (min-width: 735px) {
    .testimonials-container-container {
        display: flex;
    }

    .main-testimonial-container {
        width: 95%;
        height: 220px;
        display: flex;
        max-width: none;
    }

    .main-testimonial-container-nopic {
        width: 95%;
        height: 220px;
        display: flex;
        max-width: none;
    }

    .testimonials {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        top: 0;
        gap: 10px;
    }

    .testimonials-text-nopic{
        width: 60%;
        text-align: center;
    }

    .testimonials-nopic {
        align-items: center;
        justify-content: center;
        top: 0;
        gap: 10px;
    }

    .TI {
        width: 25px;
        margin: 0 0 20px 0;
    }

    .my-image {
        height: 300px;
        margin: 0;
    }

    .testinopic{
        margin: 30px 0 10px 0;
    }

    .signature-nopic{
        background-image: none;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 0;
        width: 100%;
    }

}

@media screen and (min-width: 820px) {
    .square-badge-div {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
        padding: 20px;
    }

    .pill-badge-div {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        gap: 10px;
        padding: 20px;
    }

    .card-container-container {
        background-color: lightcyan;
        padding: 5px;
        border-radius: 5px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1075px) {
    .square-badge-div {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;
        padding: 20px;
    }

    .pill-badge-div {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        gap: 10px;
        padding: 20px;
    }
}